{{ template "templates/components/organisms/header.html" . }}

{{ template "templates/components/atoms/headings.html" .Heading }}

<div class="text2">
    {{if .Auth.Authenticated}}
    <div class="row">
        <div class="column side">
            <h2>Options</h2>
        </div>
        <div class="column middle">
        </div>
        <div class="column side">
            <h2>Current Info</h2>
        </div>
    </div>
    {{else}}
    <a href="/login">Please login to view</a><br>
    {{end}}
{{ template "templates/components/organisms/footer.html" . }}
